* {
	margin: 0;
	text-align: center;
	font-family: arial;
	font-size: 25px;
	color: white;
	background-color: black;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
	color: white;
}

footer a {
	padding-left: 5px;
	text-decoration: none;
	color: white;
}

footer a:hover {
	text-decoration: underline;
}
