/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

nav li {
  list-style: none;
  display: inline;
  padding: 0px 50px;
}

main {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: black;
}

#shitty-kitten-logo {
  /* float: left; */
  max-width: 200px;
  padding-left: 24px;
}

@media (max-width: 500px) {
}
